/* reset  */
:root {
  /* font  */
  --body-font: inter, Arial, sans-serif;

  /* color  */
  --black-400: #9d9fa1;
  --black-700: #282828;
  --black-300: #bdbdbd;
  --white: #ffffff;
  --black: #000000;
  --blue-300: #d0d5dd;
  --black-100: #f2f2f2;

  /* font weight  */
  --font-weight-300: 300;
  --font-weight-400: 400;
  --font-weight-600: 600;

  /* font sizes  */
  --fs-xs: 0.875rem; /* 14px */
  --fs-sm: 1rem; /* 16px*/
  --fs-md: 1.375rem; /* 22px */
  --fs-lg: 1.75rem; /* 28px */
  --fs-xl: 2.125rem; /* 34px */
  --fs-xxl: 8.75rem; /* 140px */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body,
#root {
  height: 100%;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
}
body {
  max-width: 1280px;
  height: 100vh;

  margin-inline: auto;
  line-height: 1.5;
  font-family: var(--body-font);
  background: var(--black);
  color: var(--white);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
ol,
ul {
  list-style: none;
}
a {
  color: inherit;
  text-decoration: none;
}
img,
video,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}
button,
input,
select,
textarea {
  font: inherit;
  border-radius: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ========================================  */

/* Utilities  */
.flex {
  display: flex;
}
.flex-col {
  flex-direction: column;
}
.flex-row {
  flex-direction: row;
}
.items-center {
  align-items: center;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}

inline-block {
  display: inline-block;
}

/* font weight  */
.fw-reg {
  font-weight: var(--font-weight-300);
}
.fw-semibold {
  font-weight: var(--font-weight-400);
}
.fw-bold {
  font-weight: var(--font-weight-600);
}

/* font size  */
.fs-xs {
  font-size: var(--fs-xs);
}
.fs-sm {
  font-size: var(--fs-sm);
}
.fs-md {
  font-size: var(--fs-md);
}
.fs-lg {
  font-size: var(--fs-lg);
}
.fs-xl {
  font-size: var(--fs-xl);
}
.fs-xxl {
  font-size: var(--fs-xxl);
}

/* colors  */
.black-300 {
  color: var(--black-300);
}

.black-400 {
  color: var(--black-400);
}

.black-700 {
  color: var(--black-700);
}
.white {
  color: var(--white);
}
.black {
  color: var(--black);
}
.blue-300 {
  color: var(--blue-300);
}
.black-100 {
  color: var(--black-100);
}

.text-center {
  text-align: center;
}

.out {
  outline: 5px solid lime;
}

/* styles  */

/* =============================== */
/* header  */
/* ================================= */
.navbar {
  width: 100%;
  height: 112px;
  margin: 48px 0;
  border-radius: 24px;
  border: 2px solid var(--black-700);
  align-items: center;
}

.nav-content {
  flex: 1;
  height: 100%;
}

.navbar .logo {
  padding: 39px 80px;
  border-right: 2px solid var(--black-700);
}

.nav-row {
  height: 50%;
}
.upper-row {
  border-bottom: 2px solid var(--black-700);
}

.links-list {
  gap: 40px;
  flex: 1 0 0;

  height: 100%;
  justify-content: center;
}

.hamburger-icon {
  padding: 1.25rem 4rem;
  height: 100%;
  justify-content: center;
  border-left: 2px solid var(--black-700);
}

.link {
  flex: 1;
  align-items: center;
  justify-content: center;
}
.bottom-row p {
  padding: 6px;
}
.bottom-row > :first-child.link {
  height: 100%;
  border-right: 2px solid var(--black-700);
}

/* hero section  */

.hero-heading {
  letter-spacing: -7.5px;
  line-height: 9rem;
}
